@media (min-width: 1243px) {
    /* 1.共通*/
    .img-vertical {
        width: 400px;
        height: 600px;
    }
    .img-horizontal {
        width: 600px;
        height: 400px;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 45px;
    }
    h3 {
        font-size: 40px;
    }
    h4 {
        font-size: 35px;
    }
    p {
        font-size: 30px
    }
    /* 2.ヒーロー*/
    .hero h1 {
        font-size: 50px;
    }
    .hero p {
        font-size: 30px;
    }
    .hero-bg{
        width: 100vw;
        height: 100vh;
    }
    .scroll-indicator {
        display: block;
        font-size: 30px;
        margin: 20px;
    }
    /* 3.ワーク*/
    .work-card {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    .work-card:nth-child(even) {
        flex-direction: row-reverse;
    }
    .work-grid {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 50px;
    }
    .work-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: auto;
    }
}
